#contacto {
    background-color: #1a1a1a;
    color: #f5f5f5;
    padding: 20px;
    text-align: center;
}

.contacto-container {
    display: flex;
    justify-content: space-around;
    align-items: start;
    flex-wrap: wrap;
}

.formulario-contacto form {
    max-width: 400px;
    margin: auto;
}

.formulario-contacto label {
    display: block;
    margin-top: 10px;
}

.formulario-contacto input, .formulario-contacto textarea {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
}

.formulario-contacto button {
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.formulario-contacto button:hover {
    background-color: #45a049;
}

.detalles-contacto {
    max-width: 400px;
    margin: auto;
    text-align: left;
}

.detalles-contacto h3 {
    margin-top: 0;
}

/* Ajustes responsivos */
@media (max-width: 600px) {
    .contacto-container {
        flex-direction: column;
        align-items: center;
    }
}
